

    
    /* Estilos del header */
    header {
        background-color: #03033e;
        padding: 20px;
        text-align: center;
        color: #ffffff;
    }
    
    .footer-redes img {
        max-width: 240px; /* Ajusta el tamaño de la imagen aquí */
        margin-bottom: 100px;
    }

    header h1 {
        margin: 0;
    }
    
    /* Estilos de la navegación */
    nav {
        background-color: #21106c;
        color: #ffffff;
        padding: 10px 20px;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    nav ul li {
        margin: 0 15px;
    }
    
    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
    }
    
    nav ul li a:hover {
        color: #dddddd;
        text-decoration: underline;
    }
    
    /* Estilos del footer */
    .footer {
        background-color: rgb(250, 247, 247);
        color: #03033e;
        padding: 40px 20px;
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
    
    .footer-column {
        flex: 1;
        margin: 0 20px;
        
    }
    
    .footer-logo img {
        max-width: 150px;
        margin-bottom: 20px;
    }
    
    .footer-social img {
        max-width: 200px;
        margin-bottom: 20px;
    }
    
    .footer-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-nav ul li {
        margin: 10px 0;
    }
    
    .footer-nav ul li a {
        color: #21106c;
        text-decoration: none;
        font-size: 16px;
    }
    
    .footer-nav ul li a:hover {
        color: #dddddd;
        text-decoration: underline;
    }
    
    .footer-contact {
        display: flex;
        flex-direction: column;
    }
    
    .footer-contact div {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }
    
    .footer-contact img {
        margin-right: 10px;
        width: 10px; /* Ajusta el tamaño de los íconos aquí */
        height: auto; 
    }
    
    .footer-contact p {
        margin: 0;
    }
    
    .footer-contact a {
        color: #21106c;
        text-decoration: none;
    }
    
    .footer-contact a:hover {
        color: #dddddd;
        text-decoration: underline;
    }
    
.footer-contact img.email-icon,
.footer-contact img.phone-icon,
.footer-contact img.location-icon {
    max-width: 5px;
    margin-bottom: 20px;
}