/* Contenedor principal del formulario de suscripción */
.suscribe-container {
    background-color: #1a1a2e; /* Fondo azul oscuro */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

  /* Título del formulario de suscripción */
.suscribe-title {
    color: #ffffff; /* Color del texto blanco */
    font-size: 18px;
    margin-bottom: 10px;
}

  /* Formulario de suscripción */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  /* Entrada de correo electrónico */
input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 300px;
}

  /* Botón de suscripción */
button[type="submit"] {
    background-color: #d4a373; /* Fondo dorado */
    color: #ffffff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #c58b5e; /* Cambio de color al pasar el ratón */
}
